# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner.xcworkspace/

# IDEs
.idea/
.vscode/
*.iml
